<html>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/webrtc.js"></script>
    <script>
      let webrtc = new WebRTC(createID());
      webrtc.init();
    </script>
    <p>Hello World</p>
  </body>
</html>