<html>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <canvas id = "canvas" width = 800 height = 800></canvas>
    <script src=/js/utils.js></script>
    <script src="/js/webrtc.js"></script>
    <script src=/js/shader.js></script>
    <script src=/js/webgl.js></script>
    <script src=/js/matrix.js></script>
    <script src=/js/mesh.js></script>
    <script src=/js/worldObject.js></script>
    <script src=/js/hittable.js></script>
    <script src=/js/player2.js></script>
    <script src=/js/world.js></script>
    <script src=/js/main.js></script>
    <script>
      main();
    </script>
    <h3>Hold `h' for the main menu</h3>
    <a href="https://drive.google.com/file/d/1CY79VDrOXoZVMCJS4kkJvYYN5e9QTSgR/view">Multiplayer Mode demo</a>
    <h3>Send this link to a friend! Ask them to join!</h3>
  </body>
</html>